node_modules
dist
coverage
.expo
build

yarn-error.log

./docs/**/*.zip

node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

.idea
.migrate
.scannerwork
.vscode

.env
